*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, rgba(66, 133, 244, 0.1), rgba(245, 66, 133, 0.1));
    color: #000000;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

#site-logo {
    font-size: 1.8em;
    margin: 0;
    color: #000;
    text-decoration: none !important; 
}

#site-logo:hover {
    color: #333; 
}
.logo-link {
    color: #000; 
    text-decoration: none; 
}

.logo-link:hover {
    color: #333; 
}
.main-navigation {
    position: relative;
    top: 10px; 
}
.navbar {
    background: linear-gradient(135deg, rgba(66, 133, 244, 0.6), rgba(245, 66, 133, 0.6));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;  /* White text color for links */
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff2020ec; /* Hover color */
}
.navbar-light .navbar-nav .nav-link {
    padding: 10px 15px;
}
.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.7); /* White color for burger icon */
}
main {
    padding: 20px;
    text-align: center;
}

footer {
    padding: 10px 20px;
    text-align: center;
    color: #000000;
}
#hero {
    position: relative;
    text-align: center;
    max-width: 50%;
    height: auto; 
    overflow: hidden;
    border-radius: 15px;
    margin: 0 auto;
}

#hero img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(128, 128, 128, 0.7); 
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: calc(100% - 40px); 
    box-sizing: border-box;
}

#introduction {
    padding: 40px 20px; 
    background: linear-gradient(135deg, rgba(66, 133, 244, 0.1), rgba(245, 66, 133, 0.1)); 
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#introduction h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
}

#introduction p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.7;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif; 
}


#introduction h2:hover, #signs h2:hover, #support h2:hover {
    color: #ff2020ec; 
    cursor: pointer; 
}


#signs {
    padding: 40px 20px;
    background: linear-gradient(135deg, rgba(66, 133, 244, 0.1), rgba(245, 66, 133, 0.1)); 
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#signs h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); 
}

#signs img {
    width: 50%;
    height: auto;
    object-fit: cover; 
    border-radius: 10px; 
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); 
}


@media (max-width: 768px) {
    #introduction,
    #signs {
        padding: 30px 15px; 
    }
    
    #introduction h2,
    #signs h2 {
        font-size: 2em; 
    }
    
    #signs img {
        object-position: center center; 
    }
}
#support {
    padding: 40px 20px;
    background: linear-gradient(135deg, rgba(66, 133, 244, 0.1), rgba(245, 66, 133, 0.1)); 
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#support h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Card Container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    color: #555;
    margin-bottom: 15px;
}

.card-button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #357ae8; 
}


.card:hover { 
    transform: scale(1.05); 
}


@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 1.2em; 
        padding: 10px 0;
    }

    #site-logo {
        font-size: 1.5em; 
    }
}
.social-media-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap; 
    margin-top: 20px;
}

.social-media-item {
    width: 250px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, rgba(66, 133, 244, 0.1), rgba(245, 66, 133, 0.1)); 
}
.social-media-item:hover {
    transform: scale(1.05); 
}
.social-media-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-media-item p {
    font-size: 1.1em;
    color: #333;
    margin-top: 10px;
    font-weight: bold;
}

.social-media-item a {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.social-media-item a:hover {
    background-color: #000000;
    transition: background-color 0.3s ease;
}


.modal-header, .modal-footer {
    background: linear-gradient(135deg, rgba(66, 133, 244, 0.1), rgba(245, 66, 133, 0.1)); 
    border: none;
}

.modal-title {
    font-size: 1.6em;
    font-weight: bold;
}


@media (max-width: 768px) {
    .social-media-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;}
}
#social-media-section {
    background: linear-gradient(135deg, rgba(66, 133, 244, 0.1), rgba(245, 66, 133, 0.1));
    padding: 50px 20px;
    text-align: center;
    border-radius: 15px;
    margin-top: 60px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#social-media-section h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.social-icon {
    text-align: center;
    width: 120px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    cursor: pointer;
}

.social-icon img {
    width: 70px;  /* Reduced image size */
    height: 70px; /* Ensures square image */
    object-fit: cover;  /* Keeps aspect ratio while covering the area */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.social-icon p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    text-transform: capitalize;
    font-weight: 500;
}

/* Hover Effects */
.social-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.social-icon:hover p {
    color: #4285f4;
}

/* Responsive Design */
@media (max-width: 768px) {
    .social-icons {
        flex-direction: column;
    }

    .social-icon {
        width: 150px;  /* Make icons a bit bigger for small screens */
        margin-bottom: 20px;
    }

    .social-icon img {
        width: 50px;  /* Reduce the image size for smaller screens */
        height: 50px;
    }
}